<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a routerLink="/" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="/" class="nav-item nav-link" [ngClass]="{'active': selectedOptions === 'home'}">Home</a>
                <a routerLink="/about" class="nav-item nav-link"
                    [ngClass]="{'active': selectedOptions === 'about'}">About</a>
                <a routerLink="/services" class="nav-item nav-link"
                    [ngClass]="{'active': selectedOptions === 'service'}">Services</a>
                <a class="nav-item nav-link" routerLink="/packeges"
                    [ngClass]="{'active': selectedOptions === 'package'}">Packages</a>
                <a routerLink="/contact" class="nav-item nav-link"
                    [ngClass]="{'active': selectedOptions === 'contact'}">Contact</a>
            </div>
            <!-- <a href="" class="btn btn-primary rounded-pill py-2 px-4">Register</a> -->
        </div>
    </nav>

</div>