<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Awesome Packages</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @for (package of packageList; track package._id) {
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" [src]="package.imagePath" [alt]="package.imagePath">
                    </div>
                    <h3 class="text-center mt-4">{{package?.title}}</h3>
                    <div class="text-center p-4">
                        <!-- <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div> -->
                        <p>{{package?.description}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a [routerLink]="['/packagedetails',package?.packageDetails]"
                                class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 50px;">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
            } @empty {
            <li>There are no items.</li>
            }

        </div>
    </div>
</div>