<app-topbar></app-topbar>
<app-header [selectedOptions]="'products'"></app-header>
<app-navbar [title]="'Products'"></app-navbar>
<div class="container">
    <div class="row g-4">
        @for (product of productList; track product._id) {

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <a [routerLink]="['/productsingle',product?.productDetails]">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <img [src]="product?.imagePath" width="100%" height="auto">
                        <h5>{{product?.title}}</h5>
                        <p>{{product?.description}}</p>
                    </div>
                </div>
            </a>
        </div>
        } @empty {
        <li>There are no items.</li>
        }
    </div>

</div>



<app-footer></app-footer>